 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 61px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 28px auto 0;
}

.u-section-1 .u-group-1 {
  width: 597px;
  min-height: 197px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 0 auto;
}

.u-section-1 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-countdown-1 {
    height: 113px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-family: "Annie Use Your Telescope";
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-group-1 {
    min-height: 104px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: -4px;
    margin-right: -4px;
    padding: 0;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin: 20px auto 40px;
  }
} .u-section-2 {
  background-image: url("images/DSC00723.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1865px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-family: SuddenlyBold;
  font-weight: bold;
  text-align: center;
  margin: 221px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  text-align: center;
  width: 368px;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1538px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 730px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 96px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1302px;
}

.u-section-3 .u-group-1 {
  min-height: 431px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  line-height: 79.2px;
  font-family: "Bilbo Swash Caps";
  font-size: 3.75rem;
  margin: 50px 40px 0;
}

.u-section-3 .u-text-2 {
  font-family: BaiJamjuree-Light;
  font-weight: 700;
  font-size: 1.25rem;
  width: 472px;
  margin: 28px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: left;
  font-family: BaiJamjuree-Light;
  width: 471px;
  margin: 28px auto 0;
}

.u-section-3 .u-map-1 {
  height: 642px;
  width: 620px;
  transition-duration: 0.5s;
  margin: -47px auto 60px 248px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 56px;
  }

  .u-section-3 .u-map-1 {
    margin-top: -45px;
    margin-left: auto;
    margin-bottom: -214px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-map-1 {
    position: absolute;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 341px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-map-1 {
    height: 330px;
    width: 330px;
    margin-top: 45px;
    margin-bottom: 60px;
  }
}

.u-section-3 .u-map-1,
.u-section-3 .u-map-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-4 {
  min-height: 871px;
}

.u-section-4 .u-text-1 {
  margin: 86px auto 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 891px;
  margin: 212px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  width: auto;
  font-size: 1.5rem;
  margin: -960px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1231px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1184px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 844px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -913px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 871px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 531px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -600px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 424px;
}

.u-section-5 .u-gallery-1 {
  height: 424px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 1px;
    margin-bottom: 60px;
    height: 350px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1072px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3216px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2025px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-6 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/DSC00254.jpg");
  background-position: 50% 50%;
  margin: 60px 96px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/bride-holds-beautiful-bridal-bouquet-close-up_8353-10474.jpg");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-6 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/rett.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-6 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-6 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-6 .u-group-1 {
  min-height: 358px;
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 14px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-family: BaiJamjuree-Light;
  font-weight: 600;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-6 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-top: 1px;
    margin-right: 60px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -628px;
    margin-left: 30px;
  }

  .u-section-6 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-top: 141px;
    margin-left: 171px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -432px;
    margin-left: 52px;
  }

  .u-section-6 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-top: 7px;
    margin-right: 20px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 52px;
    margin-bottom: -65px;
    min-height: 383px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-6 .u-shape-2 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-6 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -606px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-left: -19px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-6 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 0;
  }

  .u-section-6 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -359px;
  }

  .u-section-6 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-top: 94px;
    margin-left: -14px;
  }

  .u-section-6 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -410px;
  }

  .u-section-6 .u-shape-2 {
    width: 101px;
    height: 101px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 185px;
    margin-bottom: -66px;
    min-height: 534px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 862px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 799px;
  background-image: url("images/qwe-01.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  min-height: 799px;
  background-image: url("images/qwe-02.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 8px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 659px;
  }

  .u-section-7 .u-image-2 {
    min-height: 659px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1424px;
  }

  .u-section-7 .u-image-1 {
    min-height: 1010px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 355px;
  }

  .u-section-7 .u-image-2 {
    min-height: 1010px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-7 .u-image-1 {
    min-height: 758px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 70px;
  }

  .u-section-7 .u-image-2 {
    min-height: 758px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -39px;
  }

  .u-section-7 .u-image-1 {
    min-height: 477px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-7 .u-image-2 {
    min-height: 477px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 1339px;
}

.u-section-8 .u-gallery-1 {
  height: 1167px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(219,84,90,1), rgba(219,84,90,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1134px;
  }

  .u-section-8 .u-gallery-1 {
    height: 962px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 2013px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1842px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 5141px;
  }

  .u-section-8 .u-gallery-1 {
    height: 4973px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 3218px;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 40px;
    margin-bottom: -3px;
    height: 3131px;
  }
}@font-face {
  font-family: 'SuddenlyBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SuddenlyBold.otf);
}@font-face {
  font-family: 'BaiJamjuree-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BaiJamjuree-Light.ttf);
}